@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&display=swap');
@import "tailwindcss";


body {
  max-width: 300px;
}

#displayCategories {
  max-width: 300px;
  justify-items: center;
  text-align: center;
}



input {
  border: 1px solid;
  border-radius: 5rem;
  padding: 0.5rem 1rem;
}

button {
  border-radius: 5rem;
  padding: 0.5rem 1rem;
}

h1 {
  font-family: "BBH Bartle", sans-serif;
  font-weight: 300;
  font-style: normal;
  text-size-adjust: 80%;

}

h2 {
  font-family: "BBH Bartle", sans-serif;
  font-weight: 200;
  font-style: normal;
  text-size-adjust: 80%;
}

th,
td {
  border: 1px solid;
  padding: 0.5rem 1rem;
}